name: CloudDev Pylint

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.13"]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint
    - name: Check naming conventions
      run: |
        pylint --rcfile=.pylintrc --disable=all --enable=naming $(git ls-files '*.py')
    - name: Check complexity
      run: |
        pylint --rcfile=.pylintrc --disable=all --enable=too-many-branches,too-many-statements,too-many-locals $(git ls-files '*.py')
    - name: Full linting
      run: |
        pylint --rcfile=.pylintrc $(git ls-files '*.py')
    - name: Build package
      run: |
        python setup.py sdist bdist_wheel